VITE_SUPABASE_URL=https://fvjedvkjtnqebchmlywb.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2amVkdmtqdG5xZWJjaG1seXdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NzU2ODEsImV4cCI6MjEwMDM1MTY4MX0.rRzfdzivYIySVS0hf5LZp24OBfizuGAqogvjwiFU3WM
